<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <h1>Menu principal</h1>
    <div class="example-button-row">
      <button mat-raised-button color = "primary" (click)="enterTest()">Ir a encuesta</button>
    </div>
    <div class="example-button-row">
      <button mat-raised-button color = "primary" (click)="enterMain()">Ver recursos</button>
    </div>
  </div>

</ion-content>
